.flex-streamitem-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #363a3f;
}

.flex-streamitem-container {
    position: relative;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.flex-streamitem-card {
    position: relative;
    max-width: 1050px;
    background-color: #e1e2a8;
    margin: 10px;
    padding: 15px;
    display: flex;

}

.flex-streamitem-card .img-box {
    max-width: 400px;
    flex: 0 0 400px;

}



.flex-streamitem-right {
    margin-left: 450px;
}

.stream-card {
    margin-bottom: 2em;
    background: white;
    display:flex;
    padding: 2vw 2vw;
    border: none;
    border-radius: 12px;
    width: 100%;
    box-shadow: 5em 1em, rgba(black, .2);
}

.stream-card-img-container {
    max-width: 300px;
    overflow: hidden;

}



.stream-card-header {
    font-weight: 500;
    font-size: 4vw;
    color: rgb(107 114 128);

}

.stream-card-header:hover {
    font-weight: 700;
    font-size: 4vw;
    color: rgb(55 65 81);
}




